/* whole waybar*/
*
{
    /* handles mouse cursor*/
    font-family: JetBrainsMono, monospace;
    font-weight: 400;
}

/* Whole waybar window styling*/
window#waybar
{
    /* handles fonts*/
    font-size: 20px;

    /* handles colors of whole waybar window */
    background-color: rgba(36, 92, 204, 0.75);
    color: rgb(255, 255, 255);

    /* handles borders*/
    border-radius: 10px;
    border-style: solid;
    border-width: 2.5px;
    border-color: rgb(49, 188, 248);
}

/* Most left icons & info styling*/
#tray
{
    /* handles positioning*/
    margin: 5px;
    margin-left: 10px;
    padding: 4px;
    margin-top: 6px;
    margin-bottom: 6px;

    /* handles fonts (icon size)*/
    font-size: 15px;
    
    /* handles border*/
    background: rgb(36, 131, 204);
    border-radius: 5px;
}

/* Focused application name styling*/
#window
{
    /* handles positioning of focused application */
    padding: 5px;
    padding-left: 10px;

    /* handles fonts of focused application */
    font-size: 15px;
}


/* Most right icons (in order) styling*/
#pulseaudio, #cpu, #memory
{
   /* handles positioning of all modules on the right*/
    padding: 5px;
    padding-left: 10px;

    /* handles fonts of all modules on the right*/
    font-size: 15px;

    /*handles positioning of all modules on the right*/
    margin-right: 10px;
}