window#waybar
{
    /* handles fonts of whole waybar window */
    font-family: JetBrainsMono, monospace;
    font-size: 20px;
    font-weight: 400;

    /* handles colors of whole waybar window */
    background-color: rgba(32, 126, 198, 0.35);   
    color: rgb(255, 255, 255);

    /* handles borders of whole waybar window */
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(20, 72, 174);   ;
}